<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_banner_7day.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,1959},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>main_banner_gfqq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1963},{87,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,69}}</string>
                <key>sourceSize</key>
                <string>{87,69}</string>
            </dict>
            <key>main_banner_jlzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1965},{90,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>main_banner_mzhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1963},{87,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,73}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>main_banner_sclb.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1965},{91,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>main_banner_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1873},{82,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,65}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>main_banner_viptop.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1868},{82,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,45}}</string>
                <key>sourceSize</key>
                <string>{82,45}</string>
            </dict>
            <key>main_banner_xnlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1786},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>main_banner_yqhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,1873},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>main_banner_zxlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,514},{53,49}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{53,49}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>main_banner_zxlb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1963},{87,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,71}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>main_bg_leftbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,720}}</string>
                <key>sourceSize</key>
                <string>{265,720}</string>
            </dict>
            <key>main_bt_dpjc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1718},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_dpjc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1432},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_dxxl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1432},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_dxxl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1432},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_expma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1432},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_expma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1432},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_fsxl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1432},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_fsxl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1146},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_ggjc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1146},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_ggjc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,860},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_ggjqc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,860},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_jqqd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1146},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_jqqd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,574},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_jrdz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,574},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_jrdz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,860},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_jxma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1146},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_jxma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,574},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_kdj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,860},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_kxrm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1146},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_macd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,574},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_macd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,860},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_mncg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1146},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_mncg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,574},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_mngs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,860},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_mngs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,574},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_pkdz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_pkdz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1296},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_qhdz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1010},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_qhdz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,724},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_qhxl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,288},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_qhxl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,2},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_rsi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,288},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_rsi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,2},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1838},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>main_bt_smxl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,288},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_smxl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_tjdxl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,288},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_tjdxl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_zbxl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,288},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_zbxl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_znxg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,288},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_znxg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_cgds1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1866},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_cgds2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1718},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_gg_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1963},{83,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,35}}</string>
                <key>sourceSize</key>
                <string>{83,35}</string>
            </dict>
            <key>main_gg_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1582},{83,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,35}}</string>
                <key>sourceSize</key>
                <string>{83,35}</string>
            </dict>
            <key>main_ggbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{817,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,42}}</string>
                <key>sourceSize</key>
                <string>{817,42}</string>
            </dict>
            <key>main_ggtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1543},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>main_gpxy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1792},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_gpxy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1866},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1897},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>main_hot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1985},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>main_hyzx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1718},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_hyzx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1792},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_jb_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1991},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>main_jb_add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1952},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>main_jbbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1792},{215,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,44}}</string>
                <key>sourceSize</key>
                <string>{215,44}</string>
            </dict>
            <key>main_jczx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1866},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_jczx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1718},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_jjzx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1792},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_jjzx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1866},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_jqqd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,1786},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>main_jyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1940},{169,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{169,21}}</string>
                <key>sourceSize</key>
                <string>{171,23}</string>
            </dict>
            <key>main_jyt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1940},{171,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,23}}</string>
                <key>sourceSize</key>
                <string>{171,23}</string>
            </dict>
            <key>main_ktvip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1718},{173,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,66}}</string>
                <key>sourceSize</key>
                <string>{173,66}</string>
            </dict>
            <key>main_mzhltck_srk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,2},{439,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,56}}</string>
                <key>sourceSize</key>
                <string>{439,56}</string>
            </dict>
            <key>main_mzhltck_tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,574},{146,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,56}}</string>
                <key>sourceSize</key>
                <string>{146,56}</string>
            </dict>
            <key>main_newfuc.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1985},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>main_reddot.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1667},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>main_smbt_fk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1967},{69,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{69,65}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_fk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,1957},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,89}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_gg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1964},{69,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{69,65}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_gg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1957},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,89}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_hy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1985},{69,61}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{69,61}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_hy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1957},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,89}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_ph1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,1897},{69,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{69,65}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_ph2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1940},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,89}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_rw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,443},{69,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{69,61}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_rw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,1718},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,89}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_smbt_sc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1838},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,89}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>main_spzx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1718},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_spzx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1792},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_txkbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1809},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>main_xlzx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1956},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_xlzx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1718},{232,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,72}}</string>
                <key>sourceSize</key>
                <string>{232,72}</string>
            </dict>
            <key>main_ysad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1868},{232,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,86}}</string>
                <key>sourceSize</key>
                <string>{232,86}</string>
            </dict>
            <key>main_zsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1940},{220,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,43}}</string>
                <key>sourceSize</key>
                <string>{220,43}</string>
            </dict>
            <key>main_zxlbsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1940},{172,21}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,21}}</string>
                <key>sourceSize</key>
                <string>{176,21}</string>
            </dict>
            <key>main_zxlbwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1838},{91,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,25}}</string>
                <key>sourceSize</key>
                <string>{91,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b36c2399697b975d20bffa8ceb0d9ad$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
