<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_xxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,67},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>login_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2001},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{49,44}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>lx_qrkbt_ksxl.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{195,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{195,63}}</string>
                <key>sourceSize</key>
                <string>{203,65}</string>
            </dict>
            <key>lx_smxl_syqx.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,409},{99,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>lx_smxl_syyb.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,313},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>lx_zdylx_lsjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,46},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>lx_zdylx_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,313},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>main_banner_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,385},{164,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,22}}</string>
                <key>sourceSize</key>
                <string>{164,22}</string>
            </dict>
            <key>main_banner_lvbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,361},{164,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,22}}</string>
                <key>sourceSize</key>
                <string>{164,22}</string>
            </dict>
            <key>main_bg_bottombg.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,433},{1280,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,101}}</string>
                <key>sourceSize</key>
                <string>{1280,101}</string>
            </dict>
            <key>main_bg_leftbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{265,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,720}}</string>
                <key>sourceSize</key>
                <string>{265,720}</string>
            </dict>
            <key>main_bg_topbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{1280,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,113}}</string>
                <key>sourceSize</key>
                <string>{1280,113}</string>
            </dict>
            <key>main_bt_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>main_bt_smxl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1715},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_bt_smxl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,147},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>main_ggbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{817,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,42}}</string>
                <key>sourceSize</key>
                <string>{817,42}</string>
            </dict>
            <key>main_jb_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,352},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>main_jb_add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,313},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>main_jbbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2001},{215,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,44}}</string>
                <key>sourceSize</key>
                <string>{215,44}</string>
            </dict>
            <key>main_jyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,338},{169,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{169,21}}</string>
                <key>sourceSize</key>
                <string>{171,23}</string>
            </dict>
            <key>main_jyt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,313},{171,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,23}}</string>
                <key>sourceSize</key>
                <string>{171,23}</string>
            </dict>
            <key>main_zsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2001},{220,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,43}}</string>
                <key>sourceSize</key>
                <string>{220,43}</string>
            </dict>
            <key>sys_backbig1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,391},{48,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{48,40}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sys_backbig2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,67},{66,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{66,58}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sys_helpbig1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,67},{28,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{28,46}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sys_helpbig2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,67},{46,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{46,64}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e938616feec99b4d410f8deaec3a508$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
