<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,523},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{49,44}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>lx_bigbt_wzsmxl.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1195},{191,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,46}}</string>
                <key>sourceSize</key>
                <string>{191,46}</string>
            </dict>
            <key>lx_smxl_chongzhi_sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>lx_smxl_qxbgk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{938,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,297}}</string>
                <key>sourceSize</key>
                <string>{938,297}</string>
            </dict>
            <key>lx_smxl_qxdot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,15},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>lx_smxl_qxdot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>lx_smxl_rsyqx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1170},{210,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,46}}</string>
                <key>sourceSize</key>
                <string>{210,46}</string>
            </dict>
            <key>lx_smxl_rsyqx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1122},{210,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,46}}</string>
                <key>sourceSize</key>
                <string>{210,46}</string>
            </dict>
            <key>lx_smxl_rsyqxbgk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{938,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,297}}</string>
                <key>sourceSize</key>
                <string>{938,297}</string>
            </dict>
            <key>lx_smxl_syqx.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,897},{99,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>lx_smxl_syyb.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,805},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>lx_smxl_ysyqx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1074},{210,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,46}}</string>
                <key>sourceSize</key>
                <string>{210,46}</string>
            </dict>
            <key>lx_smxl_ysyqx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,983},{210,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,46}}</string>
                <key>sourceSize</key>
                <string>{210,46}</string>
            </dict>
            <key>lx_smxl_ysyqxxxsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1074},{96,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,37}}</string>
                <key>sourceSize</key>
                <string>{96,37}</string>
            </dict>
            <key>lx_zdylx_bcsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,39},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>lx_zdylx_kslx.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,983},{249,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,89}}</string>
                <key>sourceSize</key>
                <string>{249,89}</string>
            </dict>
            <key>lx_zdylx_lsjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,619},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>lx_zdylx_lsjlbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,227},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lx_zdylx_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,713},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>main_banner_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,289},{232,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,54}}</string>
                <key>sourceSize</key>
                <string>{232,54}</string>
            </dict>
            <key>pk_srk_szbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,569},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>tck_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,924},{273,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,269}}</string>
                <key>sourceSize</key>
                <string>{273,269}</string>
            </dict>
            <key>yb_pj_cjgm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{417,167}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{417,167}}</string>
                <key>sourceSize</key>
                <string>{455,189}</string>
            </dict>
            <key>yb_pj_gjgm.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,600},{445,161}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{445,161}}</string>
                <key>sourceSize</key>
                <string>{455,189}</string>
            </dict>
            <key>yb_pj_gsjc.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,763},{425,159}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{425,159}}</string>
                <key>sourceSize</key>
                <string>{455,189}</string>
            </dict>
            <key>yb_pj_gszs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{455,183}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,183}}</string>
                <key>sourceSize</key>
                <string>{455,189}</string>
            </dict>
            <key>yb_wzbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,924},{178,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,44}}</string>
                <key>sourceSize</key>
                <string>{178,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smLayer.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5dbbad921da8f2276c0f5a3c162e272$</string>
            <key>textureFileName</key>
            <string>smLayer.png</string>
        </dict>
    </dict>
</plist>
