<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lx_jsbt_fp.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,146},{164,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,61}}</string>
                <key>sourceSize</key>
                <string>{164,61}</string>
            </dict>
            <key>lx_jsbt_zlyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,69},{164,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,61}}</string>
                <key>sourceSize</key>
                <string>{164,61}</string>
            </dict>
            <key>lx_zdylx_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,166},{187,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,72}}</string>
                <key>sourceSize</key>
                <string>{187,72}</string>
            </dict>
            <key>lx_zdylx_cyzbarr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,101},{43,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,207}}</string>
                <key>sourceSize</key>
                <string>{43,207}</string>
            </dict>
            <key>lx_zdylx_cyzbarr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,92},{43,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,207}}</string>
                <key>sourceSize</key>
                <string>{43,207}</string>
            </dict>
            <key>lx_zdylx_cyzbarr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,56},{43,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,207}}</string>
                <key>sourceSize</key>
                <string>{43,207}</string>
            </dict>
            <key>lx_zdylx_cyzbarr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,47},{43,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,207}}</string>
                <key>sourceSize</key>
                <string>{43,207}</string>
            </dict>
            <key>lx_zdylx_fcfgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{205,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,2}}</string>
                <key>sourceSize</key>
                <string>{205,2}</string>
            </dict>
            <key>lx_zdylx_fcxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{214,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,52}}</string>
                <key>sourceSize</key>
                <string>{214,52}</string>
            </dict>
            <key>lx_zdylx_gw.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,137},{187,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,72}}</string>
                <key>sourceSize</key>
                <string>{187,72}</string>
            </dict>
            <key>lx_zdylx_lsjlbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,209},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lx_zdylx_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,132},{187,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,72}}</string>
                <key>sourceSize</key>
                <string>{187,72}</string>
            </dict>
            <key>lx_zdylx_mr.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,92},{187,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,72}}</string>
                <key>sourceSize</key>
                <string>{187,72}</string>
            </dict>
            <key>lx_zdylx_wcyzbarr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,47},{43,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,207}}</string>
                <key>sourceSize</key>
                <string>{43,207}</string>
            </dict>
            <key>lx_zdylx_wcyzbarr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{43,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,207}}</string>
                <key>sourceSize</key>
                <string>{43,207}</string>
            </dict>
            <key>lx_zdylx_wcyzbarr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{43,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,207}}</string>
                <key>sourceSize</key>
                <string>{43,207}</string>
            </dict>
            <key>lx_zdylx_wcyzbarr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{43,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,207}}</string>
                <key>sourceSize</key>
                <string>{43,207}</string>
            </dict>
            <key>lx_zdylx_wzbbjk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{164,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,484}}</string>
                <key>sourceSize</key>
                <string>{164,484}</string>
            </dict>
            <key>lx_zdylx_zbbjk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,484}}</string>
                <key>sourceSize</key>
                <string>{164,484}</string>
            </dict>
            <key>lx_zdylx_zzxl.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{165,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,65}}</string>
                <key>sourceSize</key>
                <string>{165,65}</string>
            </dict>
            <key>pk_nrbt_boll1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,474},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_boll2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,521},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_cjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,445},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_cjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,396},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_kdj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,382},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_kdj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,443},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_macd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,367},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_macd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,318},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_rsi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,365},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_nrbt_rsi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,289},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_boll2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,362},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_cjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,348},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_cjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,284},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_kdj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,240},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_kdj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,240},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_ma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,206},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_macd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,206},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_macd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,287},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_rsi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,211},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>pk_wnrbt_rsi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,209},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b19e62dfb4f516dc9d80e76a7fafb7$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
